* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    /* rgb(150, 150, 206)*/
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    box-shadow: 2px 3px 15px black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    background: white;
}


ul li {
    list-style: none;
    /* justify-content: space-around; */
    display: flex;
    background: white;
}

.Lists {
    /* justify-content: space-between; */
    display: flex;
    width: 60vw;
    background: white;
    font-size: 20px;
}


.service.product.Resource.Industries.Company {
    color: black;
    background-color: white !important;
}